.num3 {
  color: #dc3545;
  font-weight: 800;
}
.num2 {
  color: #28a745;
  font-weight: 600;
}
.num1 {
  color: #17a2b8;
  font-weight: 500;
}

#result, #boopBtn {
  display: none;
}

.card {
  display: flex;
  position: relative;
  z-index: 3;
  opacity: 0.95;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 50vw;
  box-shadow: 3px 3px 5px black;
}

.btn {
  background-color: white;
  color: #dc3545;
}

.btn:hover {
  background-color: #dc3545;
  color: white;
  transition: all 1s;
}

input {
  width: 100%;
  font-weight: 500;
}

.redFocus {
  resize: none;
  color: #dc3545;
  transition: all 3s;
}

.defaultFocus{
  resize: none;
  color: black;
  transition: all 3s;
}

#mainHeader {
  color: white;
  font-size: 5rem;
  text-shadow: 0px 0px 90px #dc3545;
  text-align: center;
  margin-bottom: 1em;
}

body {
  background-image: url("../img/bg-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  background-position: center;
}

#halImg {
    display: none;
    height: 50vh;
    width: 75vw;
    max-height: 75%;
    position: absolute;
    z-index: 2;
}

#halImg .hal {
    position: absolute;
    max-width: 10vw;
    z-index: 2;
}
